ul.sidebar-nav-cont{
    margin-top: 30px;
    overflow-y: scroll;
    position: absolute;
    width: 100%;
}


ul.sidebar-nav-cont li.active {
    border-left: 3px solid #65c728;
}

ul.sidebar-nav-cont li a {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 9px 0px;
    font-size: 14px;
    transition: 0.2s;    
}

ul.sidebar-nav-cont li a:hover,ul.sidebar-nav-cont li a:focus{
    background-color: #1c5f59;
    color: #65c728;
}

ul.sidebar-nav-cont li a > span{
   display: inline-block;
}

ul.sidebar-nav-cont li a > span:first-child {
    width: 30px;
    margin-left: 20px;
}

ul.sidebar-nav-cont li.has-sub > a > span:last-child{
    position: absolute;
    right: 10px;
}

ul.sidebar-nav-cont li.has-sub > ul{
    background: #0e3a38;
    display: none;
}

ul.sidebar-nav-cont li.has-sub > ul > li > a{
    font-size: 12px;
}

ul.sidebar-nav-cont li.has-sub > ul > li > a > span:first-child{
    margin-left: 53px;
}


.notify-badge {
    background: #65c728;
    padding: 0px 11px;
    position: absolute;
    right: 13px;
    font-size: 12px;
    top: 10px;
    font-weight: 700;
    color: #fff;
    border-radius: 12px;
}

.dataTables_wrapper{
    margin-top: 30px;
}

table.dataTable.no-footer{
    border-bottom: 0px !important;
}

.dataTables_filter label input{
    padding-left: 20px;
}

.dataTables_length label select{
    width: 65px;
}

.dataTables_length label select,.dataTables_filter label input{
    height: 30px !important;
    transition: 0.3s;
    background-color: #f3f3f3;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current{
    background: #8cc43f !important;
    color: #fff;
    border: 0 !important;
}
.dataTables_wrapper .dataTables_info{
    padding-top: 0.955em !important;
}

.dataTables_wrapper .dataTables_paginate{
    padding-top: 0.95em !important;
}
table.dataTable thead th, table.dataTable thead td{
    border-bottom: 0px !important;
    background: #f3f3f3;
    font-size: 15px;
}

tbody{
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
}

.table > tbody > tr > td{
    border-top: 1px solid #f3f3f3;
}
.no-table-data{
    padding: 30px 0px;
}

.wrapper {
    display: flex;
    padding-top: 50px;
    height: 100vh;
}

.wrapper > .sidebar{
    flex: 0 280px;
    height: 100%; 
    position: relative; 
    overflow-y: scroll;          
}

.wrapper > .sidebar > .logo{
    width: 80px;
    margin: 0 auto;
}

.wrapper > .sidebar > .profile-info_container{
    margin-top: 50px;
}

.wrapper > .sidebar > .profile-info_container > .profile-pic{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.wrapper > .sidebar > .profile-info_container > .profile-name{
    font-weight: 600;
    margin-top: 20px;
    font-size: 16px;
}

.wrapper .page-content_container{
    flex: 1;
    background: #fafafa;
    border-top-left-radius: 20px;
    overflow-y: scroll;
    padding: 30px;       
}

.wrapper .page-content_container > .table{
    margin-top: 30px;
} 

@media screen and (min-width: 769px){ 
    .wrapper .dataTables_wrapper .dataTables_filter{
        margin-bottom: 12px;
    }
    .wrapper .toogle-btn{
        display: none;
    }
    .dataTables_length{
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 768px){
    .wrapper {
        padding-top: 0;
    }
    .wrapper .toogle-btn{
        position: absolute;
        right: 15px;
        top: 12px;
        z-index: 10;
        background-color: #195c5a;
    }

    .wrapper .toogle-btn:hover{
        color: #fff;
    }

    .wrapper > .sidebar{
        position: absolute;
        left: -250px;
        overflow-y: scroll;            
    }

    .wrapper > .sidebar > .logo{
        position: relative;
        top: 17px;
        } 

    .wrapper > .sidebar.open{
        transition: 0.3s;
        position: relative;
        left: 0;
    }

    .wrapper > .page-content_container{
        border-radius: 0px;
        font-size: 15px;
        padding: 0px 15px;
        transition: 0.3s;
    }

    .wrapper > .page-content_container > .pane-white{
            margin-top: 60px;
    }

    .wrapper > .page-content_container > .page-header{
        margin-top: 27px;
        font-size: 29px;
    }

    .wrapper > .page-content_container > .table-responsive{
        margin-top: 30px;
    }
}
